<div id="pop-widget-wrap">

	<div ng-show="model.isSearchFormDisplayed" class="pop-content-wrap">
		<div ng-switch on="model.userAction">

			<div ng-switch-when="searchView">
				<topic-list></topic-list>
			</div>

			<div ng-switch-when="detailView">
				<topic-detail></topic-detail>
				<widget-footer></widget-footer>
			</div>

			<div ng-switch-when="msgView">
				<msg-view></msg-view>
				<widget-footer></widget-footer>
			</div>

		</div>



	</div>

	<a id="pop-button" href="javascript:void(0)"
		ng-click="model.openPop()"
		ng-class="{'open': model.isSearchFormDisplayed }">
		<i class="fa fa-2x fa"
				ng-class="{'fa-times': model.isSearchFormDisplayed, 'fa-android': !model.isSearchFormDisplayed}"
				aria-hidden="true"></i>
	</a>
</div>
