#pop-widget-wrap {
	display: block;
	width: 375px;
	position: fixed;
  bottom: 2%;
  right: 1%;
  z-index: 1030;
  text-align: right;
}
.pop-content-wrap {
	border: 2px solid red;
	background: #FFFFFF;
	text-align: left;
	transition: all 0.1s ease;
	margin-bottom: 40px;

	.top-wrap {
		input {
			width: 100%;
			margin-bottom: 10px;
		}
		&.form-group {
			margin-bottom: 0;
			line-height: 1.2;
			.form-control {
				height: 44px;
				font-size: 16px;
				border: none;
				border-radius: none;
				border-bottom: 2px solid #ddd;
			}
		}
	}
	h4.recom-title {
		margin-top: 0;
	}

	.widget-content {
		padding: 0 20px 20px 20px;
	}

	ul.topic-list {
		-webkit-padding-start: 0px;
		list-style-type: none;
	}
}
a#pop-button {
	width:55px;
  height:55px;
  background-color:#06ce9f;
  border-radius:100%;
  line-height:55px;
  text-align:center;
  vertical-align:middle;
  display:inline-block;

	&:hover {
		background-color: #01476b;
	}
	.fa-android {
		line-height: inherit;
		color: #fff;
	}

}

#filtersubmit {
    position: relative;
    z-index: 1;
    left: 330px;
    top: -40px;
    color: #c9c9c9;
    cursor:pointer;
    width: 0;
		font-size: 18px;
}
