<div id="pop-widget-wrap">

	<div ng-show="model.isSearchFormDisplayed" class="pop-content-wrap">
		<div class="top-wrap">
			<input type="text" placeholder="What can we help you with?" ng-model="model.query">
			<button href="#" class=" btn btn-primary search-form-submit">
				Search
			</button>
		</div>

		<!--<topic-list></topic-list>-->
		<div>
			<h4>{{model.title}}</h4>
			<ul class="topic-list">
				<li ng-repeat="topic in model.topics | filter: model.query | limitTo: 5">
					<a ng-href="{{topic.url}}">{{topic.title}}</a>
				</li>
			</ul>
		</div>

	</div>

	<a id="pop-button" href="javascript:void(0)" ng-click="model.openPop()">
		<i class="fa fa-2x fa-commenting-o" aria-hidden="true"></i>
	</a>
</div>
