.footer {
	padding: 10px 20px;
	border-top: 2px solid #ddd;
	text-align: center;
}

a#pop-button {
	width:55px;
  height:55px;
  background-color:#06ce9f;
  border-radius:100%;
  line-height:55px;
  text-align:center;
  vertical-align:middle;
  display:inline-block;

	&:hover {
		background-color: #01476b;
	}
	.fa-android, .fa-times {
		line-height: inherit;
		color: #fff;
	}

	&.open {
		border-radius: 0 100% 100%;
	}

}

#filtersubmit {
    position: relative;
    z-index: 1;
    left: 330px;
    top: -40px;
    color: #c9c9c9;
    cursor:pointer;
    width: 0;
		font-size: 18px;
}
